<div class="row">
  <div class="col">
    <h1>Content</h1>
  </div>
  <div class="col">
    <%= link_to "ADD Content", new_content_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="row">
  <div class="col">
  </div>
</div>
<div class="row">
  <div class="col">
    <%= render 'content', contents: @contents, pagy: @pagy %>
  </div>
</div>