<div class="row">
	<div class="col">
		<div class="row">
			<div class="col">
				<h1>Copyright</h1>
			</div>
			<% if policy(CopyrightPermission).create? %>
				<div class="col">
					<%= link_to "ADD COPYRIGHT", new_copyright_permission_path, class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
		<div class="row">
			<div class="col">
				<%= render 'copyright_permissions', copyright_permissions: 
					@copyright_permissions, pagy: @pagy %>
			</div>
		</div>
	</div>
</div>