<!--<h1><%#= t('home') %></h1>
<br>
<p><%#= t('hello') %></p>

<a href="/?locale=en">English</a>
<a href="/?locale=es">Spanish</a>
<a href="/?locale=fr">French</a>-->

<div class="px-5 py-4 rounded-3">
    <div class="container py-3">
        <h1 class="display-6 fw-bold text-center">Welcome to the SolarSPELL <br> Content Curation Website</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class=" col-3">
        <button type="button" class="corner-ribbon btn btn-outline-primary btn-lg btn-block py-3 home-button">
            <h1 class="text-center">Content</h1>
            <div class="corner-ribbon__inner"><div class="corner-ribbon__ribbon">Start Here</div></div>
        </button>
        <div class="px-3">
            <p class="mt-2 mb-0"><strong>Use the Content page to:</strong></p>
            <ol>
                <li>Submit and tag new content.</li>
                <li>View your own/all content that has already been submitted and tagged.</li>
                <li>Edit content that has already been submitted and tagged.</li>
            </ol>
        </div>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-outline-primary btn-lg btn-block py-3 home-button">
            <h1 class="text-center">Copyright Permission Requests</h1>
        </button>
        <div class="px-3">
            <p class="mt-2 mb-0"><strong>Use the Copyright page to:</strong></p>
            <ol>
                <li>View organizations that we have already contacted for permission to share their content.</li>
                <li>Edit copyright permission information for organizations.</li>
                <li>Document any new organizations you have contacted for permission to share their content.</li>
            </ol>
        </div>
    </div>
</div>