<!--<h1><%#= t('home') %></h1>
<br>
<p><%#= t('hello') %></p>

<a href="/?locale=en">English</a>
<a href="/?locale=es">Spanish</a>
<a href="/?locale=fr">French</a>-->

<div class="px-5 py-4 rounded-3">
    <div class="container py-3">
        <h1 class="display-6 fw-bold text-primary">Welcome to the SolarSPELL <br> Content Curation Website</h1>
        <p>This is temporary text to show what it would look like if we put a description of the website here.</p>
    </div>
</div>
<div class="row px-5">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Content</h2>
                <p class="mt-2 mb-0 highlight-text"><strong>use the content page to:</strong></p>
                <ol>
                    <li>submit and tag new content.</li>
                    <li>view your own/all content that has already been submitted and tagged.</li>
                    <li>edit content that has already been submitted and tagged.</li>
                </ol>
                <!--<a href="" class="btn btn-primary">Start Now</a>-->
                <%= link_to "Start Now", contents_path, class: "btn btn-primary" %>
            </div>
        </div>	
<!--        <button type="button" class="corner-ribbon btn btn-outline-primary btn-lg btn-block py-3 home-button">
            <h1 class="text-center">Content</h1>
            <div class="corner-ribbon__inner"><div class="corner-ribbon__ribbon">Start Here</div></div>
        </button>
        <div class="px-3">
            <p class="mt-2 mb-0"><strong>use the content page to:</strong></p>
            <ol>
                <li>submit and tag new content.</li>
                <li>view your own/all content that has already been submitted and tagged.</li>
                <li>edit content that has already been submitted and tagged.</li>
            </ol>
        </div>-->
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Copyright Permission Requests</h2>
                <p class="mt-2 mb-0 highlight-text"><strong>Use the Copyright page to:</strong></p>
                <ol>
                    <li>View organizations that we have already contacted for permission to share their content.</li>
                    <li>Edit copyright permission information for organizations.</li>
                    <li>Document any new organizations you have contacted for permission to share their content.</li>
                </ol>
                <!--<a href="#" class="btn btn-primary">Go Now</a>-->
                <%= link_to "Go Now", copyright_permissions_path, class: "btn btn-primary" %>
            </div>
        </div>	
<!--        <button type="button" class="btn btn-outline-primary btn-lg btn-block py-3 home-button">
            <h1 class="text-center">Copyright Permission Requests</h1>
        </button>
        <div class="px-3">
            <p class="mt-2 mb-0"><strong>Use the Copyright page to:</strong></p>
            <ol>
                <li>View organizations that we have already contacted for permission to share their content.</li>
                <li>Edit copyright permission information for organizations.</li>
                <li>Document any new organizations you have contacted for permission to share their content.</li>
            </ol>
        </div>-->
    </div>
</div>