<div class="row">
  <div class="col">
    <h1>Metadata Type</h1>
  </div>
  <% if policy(MetadataType).list? %>
    <div class="col">
      <%= link_to "List Metadata Types", list_metadata_types_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col">
  <!--TODO: need to be able to edit and destroy MetadataTypes and need to be able to add metadata to types-->
    <%= render "accordion", metadata_types: @metadata_types %>
  </div>
</div>